([
    (
        name: "Cortez Limonero",
        speed: 4.0,
        width: 0.3,
        height: 2.0,
        mesh_idx: 0,
        material_idx: 0,
        max_selected_skills: 3,
        default_skills: {
            Health: { MaxHP: U(100), },
            HealthRegen: { HpPerSec: F(1.0), },
            XpGather: { Range: F(10.0), Acceleration: F(50.0), },
        },
        selected_skills: [ Laser ],
    ),
])