(
    ui_config: [
        (
            skill: Health,
            name: "Max Health"
        ),
        (
            skill: HealthRegen,
            name: "Health Regeneration"
        ),
        (
            skill: XpGather,
            name: "XP Gathering"
        ),
        (
            skill: Melee,
            name: "Melee"
        ),
        (
            skill: Laser,
            name: "Laser"
        ),
    ],
    skills: (
        health: Some([
            ( max_hp: 100, ),
            ( max_hp: 150, ),
            ( max_hp: 200, ),
            ( max_hp: 250, ),
            ( max_hp: 300, ),
        ]),
        health_regen: Some([
            ( hp_per_sec: 1.0, ),
            ( hp_per_sec: 2.0, ),
            ( hp_per_sec: 3.0, ),
            ( hp_per_sec: 4.0, ),
            ( hp_per_sec: 5.0, ),
        ]),
        xp_gather: Some([
            ( xp_per_level: 10, range: 10.0, acceleration: 50.0, ),
            ( xp_per_level: 10, range: 15.0, acceleration: 75.0, ),
            ( xp_per_level: 10, range: 20.0, acceleration: 100.0, ),
            ( xp_per_level: 10, range: 25.0, acceleration: 125.0, ),
            ( xp_per_level: 10, range: 30.0, acceleration: 200.0, ),
        ]),
        laser: Some([
            ( range: 15., dps: 20.0, duration: 0.5, cooldown: 0.5, ),
            ( range: 15., dps: 30.0, duration: 0.5, cooldown: 0.5, ),
            ( range: 15., dps: 40.0, duration: 0.5, cooldown: 0.4, ),
            ( range: 20., dps: 40.0, duration: 0.5, cooldown: 0.3, ),
            ( range: 25., dps: 40.0, duration: 0.5, cooldown: 0.2, ),
        ]),
    )
)