(
    skills: {
        Health: "Max Health",
        HealthRegen: "Health Regeneration",
        XpGather: "XP Gathering",
        Melee: "Melee",
        Laser: "Laser",
    },
    attributes: {
        MaxHP: "max hp",
        HpPerSec: "hp/s",
        Range: "range",
        Acceleration: "acc",
        Dps: "dps",
        Duration: "duration",
        Cooldown: "cooldown",
    },
    upgrades: {
        Health: [
            { MaxHP: U(100) },
            { MaxHP: U(150) },
            { MaxHP: U(200) },
            { MaxHP: U(250) },
            { MaxHP: U(300) },
        ],
        HealthRegen: [
            { HpPerSec: F(1.0) },
            { HpPerSec: F(2.0) },
            { HpPerSec: F(3.0) },
            { HpPerSec: F(4.0) },
            { HpPerSec: F(5.0) },
        ],
        XpGather: [
            { Range: F(10.0), Acceleration: F(50.0) },
            { Range: F(15.0), Acceleration: F(75.0) },
            { Range: F(20.0), Acceleration: F(100.0) },
            { Range: F(25.0), Acceleration: F(125.0) },
            { Range: F(30.0), Acceleration: F(200.0) },
        ],
        Laser: [
            { Range: F(15.), Dps: F(20.0), Duration: F(0.5), Cooldown: F(0.5) },
            { Range: F(15.), Dps: F(30.0), Duration: F(0.5), Cooldown: F(0.5) },
            { Range: F(15.), Dps: F(40.0), Duration: F(0.5), Cooldown: F(0.4) },
            { Range: F(20.), Dps: F(40.0), Duration: F(0.5), Cooldown: F(0.3) },
            { Range: F(25.), Dps: F(40.0), Duration: F(0.5), Cooldown: F(0.2) },
        ],
    }
)