([
    (
        name: "Cortez Limonero",
        max_hp: 100,
        hp_regen_per_sec: 1.0,
        gather_range: 5.0,
        gather_acceleration: 50.0,
        speed: 4.0,
        width: 0.3,
        height: 2.0,
        mesh_idx: 0,
        material_idx: 0,
        starting_skills: [ Laser([]) ],
    ),
])